.fullpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secondTitle {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
}

.secondTitle h1 {
  color: red;
  font-size: 12vw;
  position: relative;
  top: 48vh
}

.landingImg {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  background-position-y: 80%;
  height: 100vh;
  position: absolute;
  z-index: -2;
  top: 0;
  width: 100%;
}

main {
  background-color: #FCFCED;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 25px 40px;
  max-width: 75%;
}

.cardLink {
  text-decoration: none;
  width: 200px;
}

footer {
  color: rgba(255, 0, 0, 0.5);
  text-align: center;
  font-size: 135x;
  font-weight: 600;
  margin-top: 30px;
  padding-bottom: 5px;
  width: 80%;
}

@media screen and (max-width: 830px) {
  .secondTitle h1 {
    top: 70vh
  }

  .cardLink {
    width: 135px;
  }
}