form {
  display: flex;
  flex-direction: column;
  width: min(75%, 44rem);
  margin-top: 30px;
}

form h3 {
  margin: 5px;
}

.off {
  color: rgb(163, 163, 163);
}

.on {
  color: #deca30;
}

.reviewsTop {
  display: flex;
  flex-flow: row wrap;
  margin: 10px 0;
}

.emailInput {
  width: 38%;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 1px 5px 0 rgba(0,0,0,0.7), 4px 4px 2px rgba(0,0,0,0.);
  padding: 0 10px;
}

.rateBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 0 5px;
}

.reviewsBottom {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
}

.commentInput {
  resize: none;
  width: max(70%, 20rem);
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 1px 5px 0 rgba(0,0,0,0.7), 4px 4px 2px rgba(0,0,0,0.7);
  padding: 8px;
}

.submitBtn {
  font-size: 15px;
  height: 40px;
  width: 110px;
  margin: 10px 15px;
}

.review {
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
}
.error-msg {
  margin: 0 5px;
}

.reviewTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -15px;
}

.reviewEmail {
  font-weight: 600;
  margin-bottom: 5px;
}

.reviewRating {
  display: flex;
  flex-flow: row nowrap;
  margin: 36px 15px 0;
  font-size: 18px;
}

.reviewComment {
  font-size: 16px;
  font-style: italic;
  margin-left: 15px;
}

@media screen and (max-width: 830px) {
  .rateBtn {
    margin: 0 2px;
  }
}